.header_container {
  background: #343434;
  height: 48px;
  align-items: center;
}

.logo_container {
  display: flex;
  cursor: pointer;
  .name {
    color: #fff;
    font-size: 18px;
    display: flex;
    align-items: center;
    white-space: nowrap;
  }

  .logo {
    width: 26px;
    height: 26px;
  }
}

.login {
  font: 14px;
  font-weight: 600;
  color: #fff;
  padding-right: 4px;
  cursor: pointer;
  text-align: center;
}

.item {
  margin: 0 8px;
}

.list_anime {
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
  box-sizing: border-box;
  align-items: center;
  height: 48px;
  width: 150px;
  background-color: #3e3e3e;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  &:hover {
    .arrow {
      transform: rotate(90deg);
    }
    background-color: #4e5257;
  }
}

.arrow {
  transition: 0.3s linear;
  margin-left: 8px;
}

.search {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.search_container_mobile,
.container_list_anime_mobile {
  display: none;
}

.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span {
    margin: 3px 0;
    width: 25px;
    height: 3px;
    background-color: #fff;
  }
}

@media (max-width: 800px) {
  .search_container {
    display: none;
  }

  .search_container_mobile {
    display: inline-block;
  }
}

@media (max-width: 530px) {
  .container_list_anime_mobile {
    display: inline-block;
  }
  .container_list_anime {
    display: none;
  }
}
