.anime_list_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.anime_cards_container {
  display: flex;
  flex-direction: column;
}

.anime {
  height: 250px;
  object-fit: cover;
}

.card {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 20px !important;
  img {
    border-radius: 20px 20px 0 0 !important;
  }
}

@media (max-width: 644px) {
  .anime_list_container {
    justify-content: space-around;
  }
}

@media (max-width: 435px) {
  .anime_list_container {
    justify-content: center;
  }
}
