.anime_tags_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  background-color: #ffd6e7;
  color: #ff85c0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  margin-bottom: 10px;
  cursor: pointer;
  span {
    background-color: #eb2f96;
    width: 4px;
    height: 100%;
    margin-right: 8px;
  }
}

.button {
  margin-bottom: 10px;
}